body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffdde1;
}

.hidden {
    display: none;
}

#passwordScreen {
    margin-top: 20%;
}

.movingButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: move 1s infinite alternate;
}

@keyframes move {
    from { left: 50%; }
    to { left: 60%; }
}
